@model IEnumerable<SalesWeb.Models.Department>

@{
    ViewData["Title"] = "Departamentos";
}

<h2>Departamentos cadastrados</h2>

<p>
    <a asp-action="Create">Adicionar um novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>
                    @department.Id
                </td>
                <td>
                    @department.Name
                </td>

                <td>
                    @Html.ActionLink("Editar", "Editar, new { /* id=item.PrimaryKey */ }") |
                    @Html.ActionLink("Detalhes", "Detalhes, new { /* id=item.PrimaryKey */ }") |
                    @Html.ActionLink("Excluir", "Excluir, new { /* id=item.PrimaryKey */ }")
                </td>
            </tr>
        }
    </tbody>
</table>
